<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animation 3D avec Three.js</title>
    <style>
        body { margin: 0; overflow: hidden; }
        canvas { display: block; }
    </style>
</head>
<body>
<script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
<script type="importmap">
    {
      "imports": {
        "three": "https://unpkg.com/three/build/three.module.js",
        "three/examples/jsm/": "https://unpkg.com/three/examples/jsm/"
      }
    }
</script>
</body>
</html>
